<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="CSS/cadastroNote.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="JS/cadastroNote.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Cadastro Notebook</title>
</head>
<body>
<div class="caixaCadastro">
        <h1>Cadastro notebook</h1>
        <div class="caixaUsuario">
            <input type="text" name="numero" required="" autocomplete="off">
            <label>Numero Do Notebook: </label>
        </div>

        <div class="caixaUsuario">
            <input type="text" name="patrimonio" required=""> <!--Entry tipo senha-->
            <label>Patrimônio: </label>
        </div>

        <div class="botao1">
            <button id="cadastroNote" class="bt-cadastro">Cadastrar</button> <!--Botão-->
        </div>

        <div class="botao2">
            <button id="sair" class="bt-sair">Sair</button> <!--Botão-->
        </div>

</div>
</body>
</html>